<h1>Enter a dream</h1>
<body class="body">
<div class="deviselink">
  <div class="posts-wrapper">
    <div class="post">
      <div class="post-body">
        <div class="image-wrap">
          <%= image_tag 'waterfall.jpg', id: 'image-preview', class: 'img-responsive' %>
    <%= simple_form_for @entry do |f| %>
    <div class="row">
     <div class="col-md-12 text-center">
      <%= f.error_notification %>
      <div class="container-fluid">
       <div class="form-group text-center">
         <h4>Upload an image:</h4>
      <%= f.input :image, accept: 'image/jpg,image/gif,image/png', label: false,
       input_html: { onChange: 'loadFile(event)'} %>
    </div>
      <div class="form-group text-center">
      <%= f.input :content,  label: false, placeholder: 'Write about your dream here...', input_html: { class: 'input-lg' },
          class: 'form-control' %>
          <h4>What kind of dream?</h4>
      <%= f.select :dream_category, ['Worldly', 'Spiritual', 'Sex', 'Love', 'Death', 'Nightmare'], {}, class: 'form-control' %>
    </div>
    <div class="form-group text-center">
      <h4>Country</h4>
      <%= country_select("entry", "country", { priority_countries: ["GB", "FR"], selected: "GB" },
      { class: 'form-control', data: { attribute: "value" } }) %>
      <%= f.button :submit, class: 'btn-success' %>
    </div>
    <% end %>
  </div>
</div>
</div>
  </div>
</div>
</div>
</body>
