<div class="navbar-wrapper">
<div class="navbar transparent navbar-inverse  navbar-fixed-top">
  <div class="container">
        <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        <div class="navbar-brand">
          <%= link_to "Dreamshare", root_path %>
        </div>
      </div>
        <div class="navbar-collapse collapse">
          <%= form_tag(entries_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search Dreams' %>
            <%= submit_tag "Search", class: 'btn btn-primary' %>
          </div>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "New Dream", new_entry_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Login" , new_user_session_path %></li>
              <li><%= link_to "Register", new_user_registration_path  %></li>
            <% end %>
              </ul>
            </li>
          </ul>
        </div>

    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->
